n8n/workflows/cio_agent.json
{
  "name": "cio_agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cio-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_cio_agent",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body ?? $json;\nconst research = body.research ?? body.data_archaeologist ?? {};\nconst market = body.analysis ?? body.market_oracle ?? {};\nreturn [{ json: { query: body.query ?? 'Synthesize an investment recommendation.', research, market, portfolio: body.portfolio ?? {}, context: body.context ?? {} } }];"
      },
      "id": "function_prepare_cio_agent",
      "name": "Prepare CIO Brief",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/api/v1/market/status",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http_market_status_cio",
      "name": "Fetch Market Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "message",
        "model": "gpt-4.1",
        "prompt": "=You are the cio_agent. Return a JSON object with keys `agent`, `investment_thesis`, `action_plan`, `risk_controls`, and `executive_summary`.\\n\\nUser query: {{$node[\"Prepare CIO Brief\"].json[\"query\"]}}\\nResearch agent output: {{JSON.stringify($node[\"Prepare CIO Brief\"].json[\"research\"])}}\\nMarket agent output: {{JSON.stringify($node[\"Prepare CIO Brief\"].json[\"market\"])}}\\nPortfolio: {{JSON.stringify($node[\"Prepare CIO Brief\"].json[\"portfolio\"])}}\\nMarket status: {{JSON.stringify($json)}}",
        "options": {
          "temperature": 0.15
        }
      },
      "id": "openai_cio_agent",
      "name": "OpenAI CIO",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"agent\": \"cio_agent\", \"decision\": $json } }}"
      },
      "id": "respond_cio_agent",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare CIO Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare CIO Brief": {
      "main": [
        [
          {
            "node": "Fetch Market Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Market Status": {
      "main": [
        [
          {
            "node": "OpenAI CIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI CIO": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {}
}
